<p class="text-center p-4 text-2xl font-bold">A table</p>

<button class="bg-blue-600 p-2 rounded-sm text-white hover:bg-slate-400 absolute right-[10vw]" (click)="handleAddRow()">Add row</button>

<table class="w-[90vw] mx-auto mt-[10vh] h-[40vh] overflow-auto">
  <thead>
    <tr>
      <th>SrNo</th>
      <th>Quantity Book</th>
      <th>Unit Rate</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of po; let i = index" class="*:p-2 even:bg-slate-300">
      <td>{{ i+1 }}</td>
      <td>
        <input
          type="number"
          placeholder="qty"
          class="p-2"
          (keyup)="handleQtyChange(qty.value,i)"
          #qty
        />
      </td>
      <td>
        <input
          type="number"
          placeholder="unit rate"
          class="p-2"
          value="unitRate"
          (keyup)="handleRateChange(rate.value,i)"
          #rate
        />
      </td>
      <td>{{ item.total }}</td> <!-- Calculate total dynamically -->
      <td>
        <button class="bg-blue-700 p-3 rounded text-white hover:bg-blue-600" (click)="handleDelete(i)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="flex gap-10 justify-center p-4 text-xl font-bold mt-2 border-2 mx-8">
  <p>Total Quantity : {{quantity}}</p>
<p>Total All : {{totalAll}}</p>
</div>